doctype html
head
  title 메인
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='/css/normalize.css', rel="stylesheet")
  link(href='/css/main.css', rel="stylesheet")

div.main-box
  p #{title}
  input(type="button", value=buttonText, href=href, onclick=`location.href='${href}'`)
  div.link-box 
    a 아이디/비번 찾기
    span |
    a(href="/register") 회원가입
    if logout
      span |
      a(href=logoutHref id="logout") #{logout}
    

  
