doctype html
head
  title 메인
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='/css/normalize.css', rel="stylesheet")
  link(href='/css/main.css', rel="stylesheet")
  link(href="/image/favicon.ico" rel="shortcut icon")
  meta(name="description" content="배민상회 관리 사이트")
  meta(property="og:title" content="배민상회")
  meta(property="og:site_name" content="배민상회")
  meta(property="og:type" content="website")
  meta(property="og:url" content="")
  meta(property="og:image" content="http://www.woowahan.com/img/mobile/woowabros.jpg")
  meta(property="og:description" content="사장님들 화이팅~! 사장님을 위한 사이트입니다.")

div.main-box
  p #{title}
  input(type="button", value=buttonText, href=href, onclick=`location.href='${href}'`)
  div.link-box 
    a 아이디/비번 찾기
    span |
    a(href="/register") 회원가입
    if logout
      span |
      a(href=logoutHref id="logout") #{logout}
    

  
